
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/*Navigation Menu*/
.nav a{
	font-size: 12px;
	margin-left: 10px;
}

/*Name  Title, and Icons*/
h1, h2, #bottomIcons,.nav a.icon {
	font-size: 20px;
}
header {
	margin-top: -30px;
}
.homeImg{
	top: -20px;
	width: 40%;
}
.backgroundImg{
	width: 80%;
}
.title, .section{
	font-size: 16px;
}
.section{
	margin-left: 5px;
	margin-right: 5px;
}
.column{
	width: 100%;
}
/*fun facts*/
li {
	padding-bottom: 0.2em;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/*Navigation Menu*/
.nav a {
	font-size: 16px;
	margin-left: 20px;
}

h1, h2, #bottomIcons,.nav a.icon {
	font-size: 25px;
}
header {
	margin-top: -40px;
}
.backgroundImg{
	width: 70%;
}
.homeImg{
	top: -30px;
	width: 35%;
}
.title, .section{
	font-size: 20px;
}
.section{
	margin-left: 10px;
	margin-right: 10px;
}
.column{
	width: 100%;
}
/*fun facts*/
li {
	padding-bottom: 0.6em;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/*Navigation Menu*/
.nav a {
	font-size: 20px;
	margin-left: 30px;
}

h1, h2, #bottomIcons,.nav a.icon {
	font-size: 30px;
}
header {
	margin-top: -50px;
}
.backgroundImg{
	width: 60%;
}
.homeImg{
	top: -40px;
	width: 30%;
}
.title, .section{
	font-size: 24px;
}
.column{
	width: 100%;
}
.section{
	margin-left: 15px;
	margin-right: 15px;
}
/*fun facts*/
li {
	padding-bottom: 0.8em;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/*Navigation Menu*/
.nav a {
	font-size: 24px;
	margin-left: 40px;
}

h1, h2, #bottomIcons,.nav a.icon {
	font-size: 35px;
}
header {
	margin-top: -60px;
}
.backgroundImg{
	width: 50%;
}
.homeImg{
	top: -50px;
	width: 25%;
}
.title, .section{
	font-size: 28px;
}
.section{
	margin-left: 20px;
	margin-right: 20px;
}
.column{
	width: 50%;
}
/*fun facts*/
li {
	padding-bottom: 1.2em;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/*Navigation Menu*/
.nav a {
	font-size: 28px;
	margin-left: 50px;
}

h1, h2, #bottomIcons,.nav a.icon {
	font-size: 40px;
}
header {
	margin-top: -70px;
}
.homeImg{
	top: -60px;
	width: 20%;
}
.backgroundImg{
	width: 50%;
}
.title, .section{
	font-size: 32px;
}
.section{
	margin-left: 20px;
	margin-right: 20px;
}
.column{
	width: 50%;
}
/*fun facts*/
li {
	padding-bottom: 1.6em;
}
}

/*body background and font*/
body {
	background-color: #74A5A5;
	font-family: 'Crimson Text', serif;
}

/*Top Navigation Menu*/
.nav{
	overflow: hidden;
  	position: sticky;
	top: 0;
	z-index: 1;	
	transition: 0.33s;
}

/*Menu Links div*/
.nav #links {
	display: none;
}

/*Menu Links*/
.nav a {
	text-decoration: none;
	color: #264040;
	display: block;
	font-weight: bold;
	display: inline-block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin-top: 1%;
}

/*Hamburger icon*/
.nav a.icon {
	color: #264040;
	margin-left: 20px;
	display: inline-block;
	margin-top: 0.2%;
}

a:hover {
	text-decoration: underline;
	color: white;
}

.nav a.icon:hover {
	color: white;
}

/*LA Background*/
.backgroundImg {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: auto;
	border-style: solid;
	border-color: #264040;
	border-radius: 10%;
	margin-top: 10px;
}

/*Author Pic*/
.homeImg {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: auto;
	border-radius: 50%;
	border-style: solid;
	border-color:  #264040;
}
/*Name and Title*/
h1 {
	color: #264040;
}
h2{
	color: white;
	font-weight: bold;
}

header{
	text-align: center;
}

/*Titles of Sections*/
.title {
	text-align: center;
	color: #264040;
	background-color:  #648D8D;
	
}

/*Sections*/
.section {
	text-align: left;
	color:#264040;
	font-weight: normal;
	
}
.intro{
	margin-left: 5%;
	margin-right: 5%;
}

/*grid layout*/

/*Row for each section*/
* {
	box-sizing: border-box;
}

.column{
	float: left;
	padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/*fun facts and liat*/
#list {
	list-style: circle;
	text-align: left;
	float: left;
}

/*aboutme Pic*/
#aboutMeImg {
	height: 100%;
	width: 80%;
	border-style: solid;
	border-color: #264040;
	margin-top: -5px;
	position: relative;
	border-radius: 100%;
}

#image{
	text-align: center;
}

/*Education List*/
.list2 {
	list-style: none;
	margin-left: -25px;
}
#subList1, #subList2{
	border-style: solid;
	border-color:#264040;
}

#bottomIcons{
	text-align: center;
}
/*email icon*/
#email{
	position: relative;
	margin-top: 25px;
	margin-left: -10px;
}

/*handshake  and email */
#link, #link2, #link3{
	display: inline-block;
	font-family: 'Crimson Text', serif;
	text-decoration: none;
	margin-left: 5px;
	color: #264040;
	font-weight: bold;
}

#link:hover{
	text-decoration: underline;
	color: white;
}
#link3:hover{
	text-decoration: underline;
	color: white;
}


/*Handshake icon*/
#handshake{
	position: relative;
	margin-top: 35px;
	display: block;
	margin-left: -10px;
}
#end{
	text-decoration-line: underline;
}

/*footer*/
footer{
	text-align: center;
	color: #264040;
	font-weight: bold;
}
